/* Basic body styles */
html, body {
    height: 100vh;
    background-color: var(--header-color);
}

@font-face {
    font-family: "Lobster";
    src: local("Lobster"),
    url("./fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

/* Setup grid layout for body */
#body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}