@import './components/general/Colors';
@import "~bootstrap/scss/bootstrap";

/* Basic body styles */
html, body {
    height: 100vh;
    background-color: var(--header-color);
    overflow: overlay;
}

@font-face {
    font-family: "Lobster";
    src: local("Lobster"),
    url("./fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

/* Setup grid layout for body */
#body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Scroll 3 */
body::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.25rem;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--text-accent-color-bright);
    border-radius: 0.25rem;
}


/* Scroll 3 */
div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
div::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
}
div::-webkit-scrollbar-thumb {
    background-color: var(--text-accent-color-bright);
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    // border-radius: 1rem;
}

/* Scroll 3 */
ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
ul::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
}
ul::-webkit-scrollbar-thumb {
    background-color: var(--text-accent-color-bright);
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    // border-radius: 1rem;
}

.text-accent-color-bright {
    color: var(--text-accent-color-bright);
}



