@import '../../general/Colors';

/** Login form styles */

.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-color-light);
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.login-form-container {
    width: 100%;
    height: fit-content;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: var(--header-color);
    border-radius: 20px;
    color: var(--header-text-color);

    h1 {
        padding: 2rem 0 0 2rem;
    }
}

form {
    display: block;
    padding: 2rem;
    width: 100%;

    label {
        padding: 0.5rem 0 0 0;
        display: block;
    }

    .form-control {
        border-radius: 0.75rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0 0;
    }
}

.register-redirect {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 100%;
    padding: 0 0 0 0;

    p {
        margin: 0;
    }
}

.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem 0;
    p {
        margin: 0;
    }
}

@media (min-width: 576px) {
    .register-redirect {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-text {
        padding-right: 0.5rem;
    }

    .login-form-container {
        width: 600px; 
    }

}