/** Styles for custom hyperlinks */

a {
    transition: all 100ms ease-in-out;
}

a:link {
    color: var(--text-accent-color-super-bright);
    text-decoration: none;
}
a:visited {
    color: var(--text-accent-color-bright);
}
a:hover {
    color: var(--text-accent-color-super-bright)!important;
    text-decoration: underline;
}
a:active {
    color: var(--text-accent-color-super-bright);
    text-decoration: underline;
}