.token-container {
    overflow: hidden;
    color: white;
}
.welcome-container {
    margin: 0;
    padding: 0!important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    color: white;

    .column-1 {
        display: none;
    }

    @media (min-width: 992px) {
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr;

        .column-2 {
            display: block;
            grid-column: 2;
        }

        .column-1 {
            display: block;
        }
    }

    .column {
        height: 100%!important;
    }

    .column-1 {
        background-color: red;
    }

    .column-2 {
        background-color: green;
    }
}