/* Styles to override the bootstrap button default styles */

/* add padding to keep button from the side */
.button-container {
    padding: 0.5rem 0;
    display: flex;
}

/* Override default buttons styles */
.custom-button {
    color: var(--header-text-color)!important;
    background-color: var(--text-accent-color)!important;
    border-color: var(--text-accent-color)!important;
    font-size: 1.125rem!important;
    font-weight: bold!important;
    transition: all 0.5s!important;
}

.custom-button:hover {
    background-color: var(--header-color)!important;
    color: var(--text-accent-color-bright)!important;
}

.custom-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 59, 173, 0.5)!important;
}

.custom-button-outline {
    color: var(--text-accent-color-bright)!important;
    background-color: var(--header-color)!important;
    border-color: var(--text-accent-color)!important;
    font-size: 1.125rem!important;
    font-weight: bold!important;
    transition: all 0.5s!important;
}

.custom-button-outline:hover {
    background-color: var(--text-accent-color)!important;
    color: var(--header-text-color)!important;
}

.custom-button-outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 59, 173, 0.5)!important;
}