/** Color pallet used by Amplyst */
:root {
    --header-color: #1f1c22;
    --header-color-light: #33333b;
    --header-text-color: #E0F1F9;
    --text-accent-color: #663BAD;
    --text-accent-color-bright: #884fe4;
    --text-accent-color-super-bright: #c4a0ff;
    --text-accent-color-dark: #190e29;
    --text-accent-color-rgb: rgb(102, 59, 173);
    --nav-link-color: rgba(255, 255, 255, 0.55);
}